.App {
  font-family: sans-serif;
  text-align: center;
}
span {
  width: 15px;
}
.titr {
  color: red;
  font-style: oblique;
  width: 10px;
}
img {
  width: 30px;
  height: 30px;
}
.container {
  display: flex;
  gap: 10px;
}
